#change-password {
  .btn-change {
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      #ff8900 0%,
      #ff7a13 51%,
      #ff6232 100%
    );
    color: #fff;
    background-color: transparent;
    font-weight: normal;
    font-size: inherit;
    width: 12rem;
  }
  .btn-primary {
    height: 2.5rem;
    padding: 0rem 1.875rem;
    font-size: smaller;
  }
}
