#forgotPassword {
	.cta-buttons {
		& > .btn {
			min-width: $gap * 14; //280px;
			text-align: center;
			font-weight: normal;
			margin: 0.3rem;
		}
		& > .btn-secondary {
			background: none;
			color: #7F8C8D;
			padding: 0;
			min-width: 0;
		}
	}
	.container-box {
		border: 1px solid #7F8C8D;
		border-radius: 1.2rem;
		padding: 3.25rem 2.5rem;
		h4 {
			font-weight: normal;
		}
	}

	// responsive layout
	@media (max-width: map-get($grid-breakpoints, "sm")) {
		.container-box {
			border: none;
			padding: 0;
		}
	}
}
