#notify {
  .notify-line {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .noti-title {
    font-weight: normal;
  }
  p {
    font-size: small;
  }
  .promotion-icon {
    width: 50px;
    height: 50px;
  }
}
