.signup-title {
  text-align: left;
  font-weight: bold;
}
.signup-subtitle {
  text-align: center;
  color: $color-tertiary;
}
#signUp {
  .row.login-btn {
    display: block;
    a.btn {
      font-weight: normal;
      background: #231f20;
      padding: $gap * 0.666 $gap * 2.4;
    }
    .forgot-section {
      font-weight: normal;
      font-size: $f8-font-size;
    }
  }
  .btn-primary {
    height: 2.5rem;
    padding: 0rem 1.875rem;
    font-size: smaller;
  }
  .input-otp {
    width: 2.8125rem !important;
    height: 2.5rem;
    margin-right: 0.625rem;
    margin-bottom: 1.25rem;
    border-width: 0;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 0px rgba(150, 150, 150, 0.7);
    font-size: large;
  }
  .btn-signup {
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      #ff3700 0%,
      #ff592c 51%,
      #ff7f5c 100%
    );
    color: #fff;
    background-color: transparent;
    font-weight: normal;
    font-size: inherit;
  }
  // responsive layout
  @media (max-width: map-get($grid-breakpoints, "sm")) {
    .row.login-btn {
      .forgot-section {
        display: none;
      }
      a.btn {
        transform: rotateZ(-90deg);
        position: absolute;
        top: $gap * 3;
        right: -($gap * 1.7);
        width: $gap * 6.4;
        font-size: $gap;
        padding: 1rem 0rem;
        z-index: 2;
        border-radius: $gap $gap 0 0;
      }
    }
  }
}
